body {
  margin: 0;
}

.app-header {
  background-color: #282c34;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color: rgba(255, 255, 255, 0.555);
}

.app-list {
  background-color: #570c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color: white;
}